/*@media (min-width: 992px) {*/
/*    .section2-wrapper{*/
/*    min-height: 60vh;*/
/*} }*/
/*.section1-curve{*/
/*    !*background-color: #FAFAFA;*!*/
/*    clip-path: polygon(51% 33%, 100% 0, 100% 100%, 0 100%, 0 0);*/
/*}*/
/*.dropbtn {*/
/*    background-color: #04AA6D;*/
/*    color: white;*/
/*    padding: 16px;*/
/*    font-size: 16px;*/
/*    border: none;*/
/*}*/
body {
  font-family: 'Open Sans', sans-serif;
}

.text-primary {
  color: #EBCC72 !important;
}

.text-secondary {
  color: #88670a !important;
}

.btn-primary {
  background: #EBCC72 !important;
  color: black;
  font-weight: 500;
  border-color: #EBCC72 !important;
  border-radius: 0 !important;

  &:hover {
    background: black !important;
    color: #EBCC72 !important;
  }
}

.btn-rounded {
  background: #EBCC72 !important;
  color: black;
  font-weight: 500;
  border-color: #EBCC72 !important;
  border-radius: 25px !important;

  &:hover {
    background: black !important;
    color: #EBCC72 !important;
  }
}

.hero-logo {
  max-width: 380px;
}

.hero-section {
  padding-bottom: 60px;
}

.navbar-custom {
  li {
    a {
      color: #EBCC72;
      font-weight: 600;

      &:hover {
        color: white;
        font-weight: 600;
      }

      &:focus {
        color: white;
        font-weight: 600;
      }

      &:active {
        color: white;
        font-weight: 600;
      }
    }
  }
}

.navbar-toggler {
  filter: invert(1);
}

.line-20 {
  height: 1px;
  background: #EBCC72;
  width: 20%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.footer-content {
  h5 {
    color: white;
  }

  ul {
    li {
      a {
        color: white;
        font-weight: 300;

        &:hover {
          color: white;
          text-decoration: underline;
        }
      }
    }
  }

  p {
    color: white;
  }
}

.img-wrapper {
  img {
    max-height: 100vh;
  }
}

.card-content {
  svg {
    g {
      path {
        fill: #EBCC72 !important;
      }

      rect {
        fill: #EBCC72 !important;
      }

      polygon {
        fill: #EBCC72 !important;
      }
    }
  }

  p {
    font-size: 18px;
    font-weight: 700;
  }
}

.nc-icon-wrapper {
  fill: #EBCC72 !important;
}

.counter-wrapper {
  svg {
    fill: #EBCC72 !important;

    &:hover {
      fill: #EBCC72;
      cursor: pointer;
    }
  }
}

.triangle-black {
  position: relative;
  background: #000;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 118px 118px 0 118px;
    border-color: #000 transparent transparent transparent;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%) translateY(100%);
  }
}

.triangle-primary {
  position: relative;
  background: #EBCC72;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 118px 118px 0 118px;
    border-color: #EBCC72 transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
  }
}

.section_vision {
  padding-top: 160px;
  padding-bottom: 120px;
  margin-bottom: 160px;
}

.card-wrapper {
  box-shadow: 0 0 18px #EBCC72;

  &:hover {
    border-bottom: 5px solid #EBCC72;
    cursor: pointer;
  }
}

.cards-position {
  top: -160px;
}

.section2-wrapper {
  min-height: 10vh;
}

.wrapper3 {
  h5 {
    svg {
      width: 50px;
    }
  }

  p {
    line-height: 30px;
  }
}

.img-border {
  border-right: 5px solid #EBCC72;
}

.section2 {
  min-height: 75vh;
}

.col-text-center {
  text-align: center;
}

.btn-1 {
  button {
    background-color: black;
    border-radius: 30px;
    color: white;

    &:hover {
      background-color: #EBCC72;
      color: white;
    }
  }
}

.btn-2 {
  button {
    background-color: #E5A135;
    border-radius: 30px;
    color: black;
    font-size: 15px;

    &:hover {
      background-color: #EBCC72;
      color: white;
    }
  }
}

.btn-3 {
  button {
    &:hover {
      background-color: #EBCC72;
      color: white;
    }

    background-color: black;
    border-radius: 30px;
    color: white;
  }
}

.expect-heading {
  h1 {
    font-size: 45px;
    font-weight: 1000;
    font-stretch: semi-condensed;
    color: white;
  }
}

.learn-section {
  p {
    line-height: 30px;
  }
}

.card-inner {
  border-radius: 15px;
}

.next-section {
  background-color: #e8c45c;
}

.dropdown-inner {
  border-radius: 50%;
  background-color: white;
  height: 100px;
  width: 100px;
  z-index: -1;
  padding-top: 29px;
}

.dropdown-wrapper {
  top: -60px;
  left: calc(50% - 50px);
}

.map {
  .map-item {
    svg {
      height: 40px;
      width: 40px;
    }

    h4 {
      margin: 20px 0;
    }

    > div {
      ul {
        max-width: 260px;
        margin: auto;
        text-align: left;
      }
    }

    .icon-wrapper {
      border-radius: 50%;
      background-color: #e8c45c;
      height: 80px;
      width: 80px;
      z-index: -1;
    }
  }
}

.bg-black {
  background-color: black;
  color: white;
}

.bg-secondary {
  background-color: #e8c45c !important;
  color: white;
}

.icon-wrapper {
  .icon-inner {
    padding: 20px;
  }
}

.btn-4 {
  border-radius: 50px;
  background: #EBCC72 !important;
  color: black;
  font-weight: 500;
  border-color: #EBCC72 !important;

  &:hover {
    background: black !important;
    color: #EBCC72 !important;
  }
}

.map2 {
  .map-item2 {
    svg {
      height: 20px;
      width: 20px;
    }
  }
}

.trusted-icons {
  .icon {
    img {
      height: 70px;
      width: 170px;
    }
  }
}

.fw-bolder-150 {
  font-weight: 800;
}

.map3 {
  .map-item3 {
    svg {
      height: 60px;
      width: 60px;
    }
  }
}

.nav-tabs {
  font-size: 1.5rem;
  --bs-nav-tabs-border-width: unset !important;
  //--bs-nav-tabs-border-radius: 25px !important;
  --bs-nav-tabs-link-hover-border-color: unset !important;
  --bs-nav-tabs-link-active-color: #EBCC72 !important;
  --bs-nav-tabs-link-active-bg: black !important;
  --bs-nav-tabs-link-active-border-color: unset !important;
  border-bottom: unset !important;

  .nav-link {
    margin-bottom: unset !important;
    border: unset !important;
    border-top-left-radius: unset !important;
    border-top-right-radius: unset !important;
  }
}

.nav-link {
  color: black;

  &:hover {
    color: black;
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: #EBCC72;
      color: black !important;
    }
  }
}

.calender-time {
  font-size: 11px;
}

.calender-location {
  font-size: 12px;
  color: gray;
}

.calender-description {
  font-size: 14px;
}

.text-green {
  color: #2CA872;
}

.calender-wrapper {
  max-height: 110vh;
  //max-height: 15vh;
  height: 96vh;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section2-wrapper {
    min-height: 130vh;
  }
  .heading1 {
    font-size: 2rem !important;
  }
  .next-section {
    background-color: #15202A !important;
  }
}

@media only screen and (min-width: 250px) and (max-width: 575px) {
  .calender-wrapper {
    min-height: 91vh;
    max-height: 15vh;
  }
  .section2-wrapper {
    min-height: 110vh;
  }
  .heading1 {
    font-size: 2rem !important;
  }
  .expect-heading {
    h1 {
      font-size: 25px !important;
      font-weight: 1000;
      font-stretch: semi-condensed;
      color: white;
    }
  }
  .next-section {
    background-color: #15202A !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .calender-wrapper {
    min-height: 75vh;
    max-height: 15vh;
  }
  .section2-wrapper {
    min-height: 55vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .calender-wrapper {
    min-height: 75vh;
    max-height: 15vh;
  }
  .section2-wrapper {
    min-height: 45vh;
  }
  .heading1 {
    font-size: 2rem !important;
  }
  .next-section {
    background-color: #15202A !important;
  }
  .dropdown-wrapper {
    top: -60px;
    left: 0;
    right: 0;
  }
}

.business-img {
  img {
    height: 200px;
    width: 200px;
  }
}

.input-description {
  font-size: 14px;
  color: grey;
}

html {
  //--scrollbarBG: white;
  --thumbBG: #EBCC72;
}

body::-webkit-scrollbar {
  width: 14px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  //border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.form-check-input:checked {
  background-color: goldenrod;
  border-color: goldenrod;
}

.form-check-input:focus {
  border-color: #EBCC72 !important;
  outline: 0;
  box-shadow: 0 0 0 0 goldenrod !important;
}

input:focus {
  border-color: #EBCC72 !important;
  outline: 0;
  box-shadow: 0 0 0 0.15rem goldenrod !important;
}

textarea {
  resize: none;

  &:focus {
    border-color: #EBCC72 !important;
    outline: 0;
    box-shadow: 0 0 0 0.15rem goldenrod !important;
  }
}

.btn-secondary {
  border-radius: 0 !important;
  background-color: black;
  color: #EBCC72;

  &:hover {
    background-color: black;
    color: #EBCC72;
  }
}

.dropdown-item.active, .dropdown-item:active {
  color: black !important;
  text-decoration: none;
  background-color: #EBCC72 !important;
}
.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: #EBCC72 !important;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.form-control {
   color: black !important;
}

.social-icons  {
  span{
    border-radius: 50%;
    background-color: red;
  }
}


.slick-prev {
  left: -35px !important;
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 30px !important;
  color: #610f0f !important;
}